// Colors 
$white: #fff;
$black: #000;
$red: #aa151b;
$yellow: #f1bf00;

$titleFont: 'Romana';
$bodyFont: 'Apercu';

// .container {
//     height: 100vh;
//     width: 100vw;
//     margin: 0 !important;
//     .architecture-red-bar {
//         height: 250px;
//         width: 100vw;
//         polygon {
//             fill: $red;
//         };
//     }
// }

#arquitectura {
    height: 100vh; 
    width: 100vw;
    overflow: hidden;

    .red-bar-svg {
        position: absolute;
        width: 100%;
        height: calc(100vh - 340px);
        top: 340px;
    }

    // .red-bar {
    //     position: absolute;
    //     width: 100vw;
    //     height: calc(100vh - 340px);
    //     top: 340px;
    // }
    
    .content {
        margin-top: 192px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        
        .images {
            display: grid;
            grid-template-columns: min-content auto;
            grid-gap: 5px;
            .image {
                border: 5px solid rgba(0, 0, 0, 0);
                opacity: 0;
            }
    
            .image:hover {
                transition: 200ms;
                border: 5px solid $yellow;
                cursor: pointer;
            }
    
            .image-grid-1 {
                padding-top: 20%;
                .pilatos-image {
                    width: 300px;

                    animation: fadeFromTopLeft 1.2s ease-in-out 1;
                    animation-delay: 0.01s;
                    animation-fill-mode: forwards;
                }
            }
    
            .image-grid-2 {
                display: grid;
                grid-gap: 5px;
                .catedral-image {
                    width: 500px;

                    animation: fadeFromTopRight 1.2s ease-in-out 1;
                    animation-delay: 0.01s;
                    animation-fill-mode: forwards;
                }
                .setas-image {
                    width: 400px;

                    animation: fadeFromBotRight 1.2s ease-in-out 1;
                    animation-delay: 0.01s;
                    animation-fill-mode: forwards;
                }
            }
        }
        
        .text {
            padding-top: 90px;
            opacity: 0;
            padding-right: 2em;
            position: relative;
            
            animation: fadeUp3 1.3s ease-out 1;
            animation-delay: 0.01s;
            animation-fill-mode: forwards;
            .text_title {
                color: $black;
                font-family: $titleFont;
                font-size: 4rem;
            }
            .text_body {
                width: 230px;
                font-family: $bodyFont;
                font-size: 1.25rem;
                color: white;
            }
        }
        
        
    }
}

@keyframes fadeUp3 {
    0% {
        top: -50px;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}