// Colors 
$white: #fff;
$black: #000;
$red: #aa151b;
$yellow: #f1bf00;

$titleFont: 'Romana';
$bodyFont: 'Apercu';

#barrios {
    height: 100vh; 

    .red-bar-svg {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .red-bar {
        height: 250px;
        width: 100vw;
    }
    
    .content {
        display: flex;
        justify-content: center;
        
        .images {
            position: relative;
            top: 6rem;
            padding: 5rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
            min-width: 70rem;
            width: 40vw;

            .image-container {
                transition: 200ms;
                border: 5px solid rgba(0, 0, 0, 0);
                overflow: hidden;

                &:hover {
                    cursor: pointer;
                    transition: 200ms;
                    border: 5px solid $yellow;
                }
            }

            .clicked {
                transition: 200ms;
                filter: brightness(40%);
            }
    
            .image-grid-1 {
                display: grid;
                grid-auto-rows: min-content;
                grid-gap: 5px;
                
                .centro-image {
                    opacity: 0;
                    height: fit-content;

                    animation: fadeFromBotLeft 1.2s ease-in-out 1;
                    animation-delay: 0.01s;
                    animation-fill-mode: forwards;
                }
                .santa-cruz-image {
                    opacity: 0;
                    height: fit-content;

                    animation: fadeFromTopLeft 1.2s ease-in-out 1;
                    animation-delay: 0.01s;
                    animation-fill-mode: forwards;
                }
            }
    
            .image-grid-2 {
                display: grid;
                grid-auto-rows: min-content;
                grid-gap: 5px;

                .arenal-image {
                    opacity: 0;
                    vertical-align: top;
                    height: fit-content;

                    animation: fadeFromTopRight 1.2s ease-in-out 1;
                    animation-delay: 0.01s;
                    animation-fill-mode: forwards;
                }
                .macarena-image {
                    opacity: 0;
                    height: fit-content;

                    animation: fadeFromBotRight 1.2s ease-in-out 1;
                    animation-delay: 0.01s;
                    animation-fill-mode: forwards;
                }
            }
        }
        
        .text {
            width: 230px;
            height: fit-content;
            position: relative;
            top: 187px;

            animation: fadeUp2 0.6s ease-out 1;
            animation-delay: 0.01s;
            animation-fill-mode: forwards;
            opacity: 0;
            .text_title {
                color: $white;
                font-family: $titleFont;
                font-size: 6.4rem;
                width: fit-content;

                &::after {
                    content: '';
                    display: block;
                    position: relative;
                    bottom: 10px;
                    width: 100%;
                    height: 7px;
                    background-color: $yellow;
                }
            }
            .text_body {
                font-family: $bodyFont;
                font-size: 2rem;
            }
        }
    }
}

.barrios--exit-active {
    opacity: 0;
    transition: opacity 0.5s;
}