// Colors 
$white: #fff;
$black: #000;
$red: #aa151b;
$yellow: #f1bf00;

$titleFont: 'Romana';
$bodyFont: 'Apercu';

.card-container {
  width: 50%;
  // border: 1px solid red;

  :last-child {
    margin-bottom: 4rem;
  }
}

.card {
  margin: 2rem;
  padding: 1rem;
  min-height: 75vh;

  // border: 1px dotted red;
}

.card-title {
  text-align: center;
  font-size: clamp(2.4rem, 3vw, 3.6rem);
  font-family: $titleFont;
}

.card-body {
  display: flex;
}

.card-carousel-container {
  width: calc(20vw + 4rem);
  margin: auto; 
  overflow: hidden;

  .card-carousel-slide {
    display: flex;
    align-items: center;
    min-height: 60vh;
    background-color: rgba(128, 128, 128, 0.192);
  
    .card-image {
      width: 20vw;
      margin: 2rem;
    }
  }
}

.card-description {
  width: 30%;
  font-size: clamp(1.4rem, 1.3vw, 3rem);
  // font-size: 1.2vw;
  font-family: $bodyFont;
}
