body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    user-select: none;
}

// Fonts
@font-face {
    font-family: 'Romana';
    src: url('../fonts/RomanaEF-Medium.otf') format('opentype')
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu\ Pro\ Regular.otf') format('opentype')
}

$titleFont: 'Romana';
$bodyFont: 'Apercu';

// Colors 
$white: #fff;
$black: #000;
$red: #aa151b;
$yellow: #f1bf00;

p {
    font-family: $titleFont;
    font-size: 10rem;
}

.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;

    // @media(max-width: 1440px) {
    //     width: 1640px;
    //     min-width: 1640px;
    // }

    // @media(max-width: 1280px) {
    //     width: 976px;
    //     min-width: 976px;
    // }

    // @media(max-width: 976px) {
    //     width: 768px;
    //     min-width: 768px;
    // }
}

// Header 
header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
    .inner-header {
        display: flex; 
        align-items: center;
        justify-content: space-between;
        height: 80px;
        .logo {
            a {
                font-weight: 700;
                text-decoration: none;
                letter-spacing: 1.5px;
                color: $black;
            }
        }
        .navigation {
            nav {
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    letter-spacing: 1.75px;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    color: $black;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

// Intro Page
.intro-page {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $yellow;
    z-index: 1;
    animation: frameSlideLeft 1.0s 1;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;

    .intro-page-text {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    width: fit-content;
        .intro-page-text_title {
            margin: 0;
            padding: 0;
            height: fit-content;
            margin-bottom: -10px;
            list-style: none;
            font-family: $titleFont;
            font-size: 4rem;
            li {
                margin: 0 10px;
                display: inline-block;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }

        .intro-page-text_title::after {
            content: '';
            margin-top: -10px;
            display: block;
            background: $red;
            height: 13px;
            width: 100%;
        }

        .intro-page-text_author {
            font-family: $bodyFont;
            font-size: 1.25rem;
            font-weight: 100;
            text-transform: uppercase;
            margin-top: 12px;
            margin-left: auto;
            margin-right: 8px;
            #duke-nguyen {
                text-shadow: 1px 0 $black;
            }
        }
    }

    @keyframes frameSlideLeft {
        0% {right: 0px;}
        100% {right: 100%;}
    }
}

// Banner

#base {
    height: 100vh;
}
.banner {
    display: flex;
    align-items: center;
    background-color: $white;
    position: relative;
    height: 95vh;
    .row {
        display: flex;
        justify-content: space-evenly;
        position: relative;
        padding-left: 15%;
        padding-right: 15%;
        .text-box {
            margin-top: 2.5%;
            margin-right: 1%;
            width: 300px;
            .banner-title {
                line-height: 0.73;
                position: relative;
                font-size: 4rem;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: -1px;
                color: $black; 
                // @media (max-width: 1440px) {
                //     font-size: 2rem;
                // }
            }
            .banner-title::after {
                content: '';
                margin-top: 10px;
                display: block;
                background: $red;
                height: 11px;
                width: 100%;
            }
            .banner-body {
                font-family: $bodyFont;
                font-size: 1.25rem;
                margin-top: 15px;
                margin-left: 3px;
                width: 290px;
            }
        }
        .left-image, .right-image {
            width: 300px;
            transition: 200ms;
            border: 5px solid $white;
            // @media (max-width: 1440px) {
            //     width: 365px;
            // }
        }

        // Animations 
        .banner-title::after, .banner-body {
            position: relative; 
            animation: upMove 1.5s 1;
            animation-delay: 2.3s;
            animation-fill-mode: forwards;
        }

        .left-image {
            position: relative;
            animation: leftMove 1.5s 1;
            animation-delay: 2.3s;
            animation-fill-mode: forwards;
        }

        .right-image {
            position: relative;
            animation: rightMove 1.5s 1;
            animation-delay: 2.3s;
            animation-fill-mode: forwards;
        }

        .left-image:hover, .right-image:hover {
            transition: 200ms;
            border: 5px solid $yellow;
        }

        @keyframes upMove {
            0% {
                bottom: -200px;
                opacity: 0
            }
            100% {
                bottom: 0px;
                opacity: 1
            }
        }

        @keyframes leftMove {
            0% {
                transform: scale(0.7);
                left: -200px;
                opacity: 0;
                z-index: 0;
            }
            25% {
                z-index: 2;
            }
            100% {
                transform: scale(1.0);
                left: 0px;
            }
        }

        @keyframes rightMove {
            0% {
                transform: scale(0.7);
                right: -200px;
                opacity: 0;
                z-index: 0;
            }
            25% {
                z-index: 2;
            }
            100% {
                transform: scale(1.0);
                right: 0px;
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 1640px;

    .footer-text {
        font-family: $bodyFont;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 200;
        position:relative;
        text-decoration:none;
        display:inline-block;
        transition: 200ms;
    }

    .footer-text:hover {
        cursor: pointer;
        // font-weight: 700;
        color: $black;
        transition: 250ms;
    }

    .footer-text::after {
        display: block;
        content: "";
        border-bottom: solid 3px $red;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
        transform-origin: 0%;
    }

    .footer-text:hover::after {
        transform: scaleX(1);
    }
}